@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    background:#F2F2F2;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}



header {
    height: 90px;
    background: #7159c1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    align-items: center;
    height: 100%;

}

header .container h1 {
    color: #FFF;
}

.content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.content form {
    margin-top: 40px;
    padding: 30px;
    background: #7159c1;
    color: #fff;
    border-radius: 6px;
    width: 500px;
    
    display: flex;
    flex-direction: column;
    
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes formAppear {
    from {
        opacity: 0;
        transform: scale(0.9);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.content form {
    animation-name: formAppear;
    animation-duration: 700ms;
}

.content form input, select {
    font-size: 17px;
    border-radius: 4px;
    height: 35px;
    padding: 4px;
    border: 1px solid #666;
}



.content form h2 {
    margin-bottom: 18px;
}

.content form h4 {
    font-weight: normal;
    margin: 7px 0;
}

.content form button {
    margin-top: 20px;
    border: 0;
    width: 150px;
    height: 30px;
    background: #FFF;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
    transition: opacity 0.2s;
    cursor: pointer;
}

.content form .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content form button:hover {
    opacity: 0.6;
}

table {
    margin-top: 30px;
    padding: 10px;
    border: 0;
}

table thead th {
    padding: 20px;
}

table thead {
    background-color: #7159d1;

}


table th {
    text-align: center;
    color: #FFF;
    padding-left: 15px;
    animation-name: fade;
    animation-duration: 1s;
    
}

table tbody td {
    padding: 20px;
    animation-name: fade;
    animation-duration: 1s;
}

table tbody tr {
    background: rgba(219, 219, 219);
    transition: background 0.2s;
}

table tbody tr:hover {
    background: #99f9;
}

table th:last-child {
    padding-right: 15px;
}

@media (max-width: 550px) {
    .content form {
        width: 450px;
    }

    
    
}

@media (max-width: 700px) {
    table thead th {
        padding: 12px;
    }

    table tbody td {
        padding: 12px;
    }
    table th:last-child {
        display: none;
    }

    table td:last-child {
        display: none;
    }
}